html {
  font-size: 10px;
}

.header {
  height: 16rem;
  border-bottom: 1px solid grey;
}

.header-controls .nav,
.header-controls .social {
  height: 3.5rem;
}

.header-controls .nav__item {
  font-size: 2rem;
  cursor: pointer;
}
  .header-controls .nav__item a {
    color: black;
  }

.nav-link {
  height: 100%;
  background-size: contain !important;
  display: block;
}

.gallery-link {
  background: transparent url('/images/gallery_bw.jpg') center no-repeat;
}

    .gallery-link.active,
    .gallery-link:hover {
      background: transparent url('/images/gallery_color.jpg') center no-repeat;
    }

.shop-link {
  background: transparent url('/images/shop_bw.jpg') center no-repeat;
}

    .shop-link.active,
    .shop-link:hover,
    .shop-link.preload {
      background: transparent url('/images/shop_color.jpg') center no-repeat;
    }

.fb-link {
  background: transparent url('/images/fb_bw.jpg') center no-repeat;
}

    .fb-link:hover,
    .fb-link.preload {
      background: transparent url('/images/fb_color.jpg') center no-repeat;
    }

.insta-link {
  background: transparent url('/images/insta_bw.jpg') center no-repeat;
}

    .insta-link:hover,
    .insta-link.preload {
      background: transparent url('/images/insta_color.jpg') center no-repeat;
    }

.tumblr-link {
  background: transparent url('/images/tumblr_bw.jpg') center no-repeat;
}

    .tumblr-link:hover,
    .tumblr-link.preload {
      background: transparent url('/images/tumblr_color.jpg') center no-repeat;
    }

.twitter-link {
  background: transparent url('/images/twitter_bw.jpg') center no-repeat;
}

    .twitter-link:hover,
    .twitter-link.preload {
      background: transparent url('/images/twitter_color.jpg') center no-repeat;
    }



.header-controls .social {
  font-size: 2.6rem;
}

.content {
  height: 100%;
}


/***************** Hero image ********************/

.hero {
  position: relative;
}

.hero img {
  width: 100%;
}

.hero__text-wrapper {
  position: relative;
  width: 0;
  height: 0;
}

.hero__text {
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff; 
  display: inline;
  padding: 2rem;
  position: absolute;
  width: 40rem;
  border-radius: 1rem;
  
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.hero__text .btn {
  font-size: 1.8rem;
  padding: 0.6rem 4rem;
}

button {
  border-radius: 0.5rem;
}


/***************** Categories ********************/

.categories {
  margin-bottom: 3rem;
}

.category {
  display: inline-block;
  margin: 0 5rem;
  cursor: pointer;
}

.category__label {
  font-size: 2rem;
}


/***************** Gallery ********************/

.gallery {
  margin: 4.5rem 5% 0;
}

.grid-item,
.grid-sizer {
  width: 20%;
}

    .grid-item img {
      max-width: 100%;
      display: block;
      padding: 5px;
    }

.footer--mobile {
  display: none;
}


/***************** Shop ********************/

.shop {
  height: 100%;
  overflow: hidden;
  display: flex;
}

.left-panel,
.shop-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.left-panel {
  flex-grow: 0;
  width: 200px;
  margin-top: 50px;
}

.active--sort,
.active--category {
  text-decoration: underline
}

.filter-text,
.sort-text {
  text-align: left;
  margin-bottom: 10px;
}

.shop__category,
.shop__sort {
  list-style: none;
  font-size: 1.8rem;
}

.shop-items {
  display: inline-block;
  width: calc(100% - 210px);
}

    .shop-items img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }

.shop-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

    .shop-cards__item {
      display: flex;
      padding: 1rem;
      width: 35rem;
      max-width: 35rem;
      margin: 0 auto auto;
    }

.shop-card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  width: 35rem;
  overflow: hidden;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s
}

    .shop-card.ng-hide {
        opacity: 0;
    }

    .shop-card__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;
    }

    .shop-card__title {
      margin-bottom: 1.5rem
    }

    .shop-card__image {
      position: relative;
      width: 33rem;
      height: 20rem;
      background: #ddd;
      overflow: hidden;
    }

        .shop-card__image img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: auto;
          width: auto;
          -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
                  transform: translate(-50%,-50%);
        }

.img-container,
.img-container:hover,
.img-container--lg,
.img-container--lg:hover {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 0.3rem 0.3rem 0.5rem black;
    font-size: 3rem;
}

.img-container--lg,
.img-container--lg:hover {
    font-size: 6rem;
}

.sold-out,
.sold-out:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(335deg);
}





/***************** Item ********************/

.back-shop {
    margin-top: 2rem;
}

.item-page {
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 750px;
}

.item-page__image img {
    max-width: 100%;
}

.item-page__title {
    margin-top: 15px;
    margin-bottom: 10px;
}

.item-page__desc {
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.item-button {
    margin-left: 15px;
}

.modal {
    font-size: 1.6rem;
}



/***************** MOBILE STYLES TODO *******************/

@media only screen and (max-width: 1600px) {
    .grid-item,
    .grid-sizer {
      width: 25%;
    }
}

@media only screen and (max-width: 1200px) {
    .grid-item,
    .grid-sizer {
      width: 33.3%;
    }
}

@media only screen and (max-width: 950px) {
    .grid-item,
    .grid-sizer {
      width: 50%;
    }

    .hero {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .grid-item,
    .grid-sizer {
      width: 100%;
    }
}



/*TODO FIX*/
@media only screen and (max-width: 1000px) {

  .header-controls {
    display: none;
  }

  .footer__mobile {
    position: absolute;
    bottom: 0;
    height: 4rem;
    width: 100%;
    border-top: 1px solid grey;
  }
}


/********************* BOOTSTRAP OVERRIDES************************/

.full-width.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

