html {
  font-size: 10px;
}

.header {
  height: 15rem;
  border-bottom: 1px solid grey;
}

.header-controls .nav {
  font-size: 2rem;
}

.header-controls .social {
  font-size: 2.6rem;
}

.content {
  height: 100%;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
}

.hero__text-wrapper {
  position: relative;
  width: 0;
  height: 0;
}

.hero__text {
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff; 
  display: inline;
  padding: 2rem;
  position: absolute;
  top: 10rem;
  right: 8rem;
  width: 40rem;
  border-radius: 1rem;
  
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.hero__text .btn {
  font-size: 1.8rem;
  padding: 0.6rem 4rem;
}

button {
  border-radius: 0.5rem;
}

.gallery {
  margin: 0 5%;
}

.grid-item,
.grid-sizer {
  width: 20%;
}

    .grid-item img {
      max-width: 100%;
display:block;
    }

.footer--mobile {
  display: none;
}


/***************** MOBILE STYLES TODO *******************/

@media only screen and (max-width: 1600px) {
    .grid-item,
    .grid-sizer {
      width: 25%;
    }
}

@media only screen and (max-width: 1200px) {
    .grid-item,
    .grid-sizer {
      width: 33.3%;
    }
}

@media only screen and (max-width: 950px) {
    .grid-item,
    .grid-sizer {
      width: 50%;
    }

    .hero {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .grid-item,
    .grid-sizer {
      width: 100%;
    }
}



/*TODO FIX*/
@media only screen and (max-width: 1000px) {

  .header-controls {
    display: none;
  }

  .footer__mobile {
    position: absolute;
    bottom: 0;
    height: 4rem;
    width: 100%;
    border-top: 1px solid grey;
  }
}


/********************* BOOTSTRAP OVERRIDES************************/

.full-width.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

