<!DOCTYPE html>
<html>
<head>
    <title>Hanna Yangilmau</title>
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="libs/isteven/isteven.css">
    <link rel="stylesheet" href="libs/lightbox/lightbox.min.css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/modules.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="main" ng-app="hanna" ng-controller="main">
        <div class="header">
            <div class="full-width row height--100">
                <div class="col-12 col-md-6 center--v">
                    <h2 class="center">Hanna Yangilmau {{width}}</h2>
                </div>
                <div class="header-controls col-sm-6 height--100">
                    <div class="row height--100">
                        <div class="nav col-6 center height-100">
                            <div class="row height--100 width--100">
                                <div class="col-2">&nbsp;</div>
                                <div class="col-4" ng-click="toGallery()">
                                    <span class="nav__item"><u>Gallery</u></span>
                                </div>
                                <div class="col-4">
                                    <span class="nav__item">Shop</span>
                                </div>
                            </div>
                        </div>

                        <div class="social col-6">
                            <div class="row center height--100">
                                <div class="col-3 center--v">&nbsp;</div>
                                <div class="col-2 center--v">
                                    <a href="TODO">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </div>
                                <div class="col-2 center--v">
                                    <a class="center--v" href="TODO">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                                <div class="col-2 center--v">
                                    <a class="center--v" href="TODO">
                                        <i class="fab fa-tumblr-square"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="hero">
                    <div class="hero__text" 
                         ng-if="landingText && landingText.length"
                         style="top:{{landingText[0].top}}rem; right:{{landingText[0].right}}rem;
                                bottom:{{landingText[0].bottom}}rem; left:{{landingText[0].left}}rem;">
                        <div ng-bind-html="landingText[0].text"></div>

                        <br/>

                        <div class="center">
                            <button class="btn btn-primary" type="button" ng-click="toGallery()">
                                View Gallery
                            </button>
                        </div>
                    </div>
                <img src="images/mountains_stock.jpg" />
            </div>

            <div class="gallery">
                <div class="center categories">
                    <div class="category" ng-click="setCategory('all')">
                        <i class="fa fa-ellipsis-h fa-4x"></i><br/><span class="category__label">All</span>
                    </div>
                    <div class="category" ng-click="setCategory('illustration')">
                        <i class="far fa-image fa-4x"></i><br/><span class="category__label">Illustrations</span>
                    </div>
                    <div class="category" ng-click="setCategory('book')">
                        <i class="fa fa-book fa-4x"></i><br/><span class="category__label">Books</span>
                    </div>
                    <div class="category" ng-click="setCategory('concept')">
                        <i class="far fa-comment fa-4x"></i><br/><span class="category__label">Concepts</span>
                    </div>

                </div>
                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div ng-repeat="item in gallery" 
                         ng-class="{illustration: illustration(item.categories), 
                                    book: book(item.categories), concept: concept(item.categories)}"
                         class="grid-item">
                        <a href="images/{{item.filename}}" 
                           data-lightbox="gallery" 
                           data-title="{{item.description}}">
                        <img class="gallery-item" 
                             src="images/{{item.filename}}" />
</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer--mobile center">
            mobile footer
        </div>
    </div>


    <!-- JS files -->

    <!-- Public libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="libs/underscore-min.js"></script>
    <script src="libs/isteven/isteven.js"></script>
    <script src="libs/imagesloaded.pkgd.min.js"></script>
    <script src="libs/isotope.pkgd.min.js"></script>
    <script src="libs/lightbox/lightbox.min.js"></script>

    <!-- Local files -->
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
