<!DOCTYPE html>
<html>
<head>
    <title>Hanna Yangilmau</title>
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Libraries -->
    <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="libs/isteven/isteven.css">
    <link rel="stylesheet" href="libs/lightbox/lightbox.min.css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/modules.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="main" ng-app="hanna" ng-controller="main">
        <div class="header">
            <div class="full-width row height--100">
                <div class="col-12 col-md-6 center--v">
                    <h2 class="center">
                        <a href="index.html">
                            <img src="images/header_desktop.jpg"/>
                        </a>
                    </h2>
                </div>
                <div class="header-controls col-sm-6 height--100">
                    <div class="row height--100">
                        <div class="nav col-6 center">
                            <div class="row height--100 width--100">
                                <div class="col-6">
                                    <a href="index.html">
                                        <span class="nav__item nav-link gallery-link"></span>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="shop.html">
                                        <span class="nav__item nav-link shop-link"></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="social col-6 center">
                            <div class="row center height--100">
                                <div class="col-3">
                                    <a href="https://www.facebook.com/heyangilmau">
                                        <span class="nav-link fb-link"></span>
                                    </a>
                                </div>
                                <div class="col-3">
                                    <a href="https://www.instagram.com/heyangilmau">
                                        <span class="nav-link insta-link"></span>
                                    </a>
                                </div>
                                <div class="col-3">
                                    <a href="https://heyangilmau.tumblr.com">
                                        <span class="nav-link tumblr-link"></span>
                                    </a>
                                </div>
                                <div class="col-3">
                                    <a href="https://twitter.com/heyangilmau">
                                        <span class="nav-link twitter-link"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="back-shop center">
                <h3>
                    <a href="/shop.html">
                        <i class="fas fa-angle-double-left"></i> Back to Shop
                    </a>
                </h3>
            </div>
            <div class="item">
                <div class="item-page center">
                    <div class="item-page__image">
                        <a href="images/{{item.filename}}"
                           class="img-container--lg"
                           data-lightbox="gallery"
                           data-title="{{item.description}}">
                            <img ng-src="images/{{item.filename}}" />
                            <div class="sold-out" ng-if="item.quantity == 0 ">SOLD OUT</div>
                        </a>
                    </div>
                    <div class="item-page__content">
                        <div class="item-page__title center">
                            <h2>
                                {{item.display_name}} 
                            </h2>
                        </div>
                        <div class="item-page__desc center" ng-if="item.description">
                            {{item.description}}
                            <span ng-if="item.quantity && item.quantity > 0">
                                (Only {{item.quantity}} left!)
                            </span>
                        </div>
                        <div class="row" ng-show="item.quantity != 0">
                            <div class="col-12">
                                <div class="inline-block">
                                    <h4 class="center">${{item.dollar_cost}}</h4> (+shipping)
                                </div>
                                <div id="item-button" class="item-button inline-block"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Paypal confirmation modal -->
        <div id="js-paypal-conf-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Purchase Confirmed</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Thanks for your purchase! I'll have it delivered to you ASAP, but feel free to reach out with any questions or concerns at <a href="mailto:hanna@heyangilmau.com">hanna@heyangilmau.com</a>.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Paypal error modal -->
        <div id="js-paypal-err-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Paypal Error</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>I'm sorry; something went wrong with your order, and no purchase was made.</p>
                        <p>Please try again, and if problems keep happening, reach out, and let me know at <a href="mailto:hanna@heyangilmau.com">hanna@heyangilmau.com</a>. Thanks!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden">
            <span class="gallery-link preload"></span>
            <span class="shop-link preload"></span>
            <span class="fb-link preload"></span>
            <span class="insta-link preload"></span>
            <span class="tumblr-link preload"></span>
            <span class="twitter-link preload"></span>
        </div>

        <div class="footer--mobile center">
            mobile footer
        </div>
    </div>


    <!-- JS files -->

    <!-- Public libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script src="libs/underscore-min.js"></script>
    <script src="libs/isteven/isteven.js"></script>
    <script src="libs/imagesloaded.pkgd.min.js"></script>
    <script src="libs/isotope.pkgd.min.js"></script>
    <script src="libs/cells-by-row.js"></script>
    <script src="libs/lightbox/lightbox.min.js"></script>

    <!-- Local files -->
    <script type="text/javascript" src="js/item.js"></script>
</body>
</html>
